/target
*.o
*.so
*.dylib
*.glyph
!stdlib.glyph
!glyph.glyph
!documentation.glyph
!examples/**/*.glyph
/Archives
/Archives.7z
glyph0
glyph1
glyph2
/glyph
examples/asteroids/asteroids
examples/hello/hello
examples/fibonacci/fibonacci
examples/countdown/countdown
examples/calculator/calc
examples/life/life
examples/glint/glint
examples/gled/gled
examples/api/api
*.glyph-shm
*.glyph-wal
*.glyph.cover
.ninja_log
*.glyph.bak
/workspace
