/target
*.o
*.so
*.dylib
*.glyph
!stdlib.glyph
!glyph.glyph
!examples/**/*.glyph
/Archives
glyph0
glyph1
/glyph
examples/calculator/calc
examples/life/life
examples/glint/glint
examples/gled/gled
*.glyph-shm
*.glyph-wal
*.glyph.cover
.ninja_log
*.glyph.bak
